
.container {
    display: grid;
    grid-gap: 10%;
    padding: 8%;
    margin-left: 5%;
}
.column {
    padding: 10%;
    background-color: white;
    border-radius: 4%;
    box-shadow: 0px 4px 4px rgba(194, 194, 194, 0.75);
    text-align: center;
    width: 110%;
    height: 110%;
}

.FormInputBox {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    position :relative;
    margin-bottom: 5%;
    padding: 1%;
}

input.SubmitData {
    justify-content: center;
    background: #EC7A08;
    border-radius: 15px;
    color: #000000; /* Texto blanco */
    width: 20%;
    font-size: 150%;
}
h1.DefaultFont {
    margin-bottom: 5%;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #007363;
}
