body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.element {
    position: relative;
    top: 15%;
    padding-top: 1%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1%;
    background-color: white;
    border: solid 1px grey;
    border-radius: 4%;
}

.FormInputBox {
    position :relative;
    left : 5%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-bottom: 70px;
}

input.SubmitData {
    position: relative;
    left: 20px;
    width: 150px;
    justify-content: center;
    border-radius: 12px;
    background-color: #007bff; /* Color azul */
    color: #000000; /* Texto blanco */
}
