body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    position: relative;
    padding: 15%;
    background-color: white;
    border: solid 1px grey;
    border-radius: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button.ReservationButton, button.ShowRervations {
    margin: 0 10px;
    padding: 10px 20px;
    text-align: center; /* Alinea el texto al centro */
    border-radius: 12px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

button.ReservationButton {
    padding: 8%;
    position: relative;
    right: 10%;
    font-size: 100%;
    background-color: #007bff;
}

button.ShowRervations {
    position: relative;
    left: 10%;
    background-color: rgb(13, 184, 104);
}

h1.DefaultFont {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #007363;
    margin-top: 0;
    margin-bottom: 100px; /* Ajustar este valor para controlar la posición del texto */
}

.logo {
    width: 150px;
    padding-bottom: 25px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
